<main role="main" class="container">

      <div class="starter-template">
        <h1>Title: <%= @project.title %></h1>
        <p class="lead"> <strong>Description:</strong> <%= @project.description %></p>
        
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

      </div>

    </main><!-- /.container -->

